<!doctype html>
<html lang="en" ng-app="tempus">
<head>
	<meta charset="UTF-8">
	<title>Ganesha Smart Watch</title>
	<link rel="stylesheet" href="public/css/normalize.css">
	<link rel="stylesheet" href="public/css/ionicons.css">
	<link rel="stylesheet" href="public/css/grid.css">
	<link rel="stylesheet" href="app.css">
	<link rel="shortcut icon" href="https://1.gravatar.com/avatar/19d80771a78fb977208096f4f8099b8e?d=https%3A%2F%2Fidenticons.github.com%2Fe5041f7f9fdc43b5db9be2dde60e76c2.png&r=x&s=140">
</head>
<body ng-controller="AppCtrl">
    <div class="container">
    	<div id="screen" class="white view-animation" ng-class='{ wallpaper: currentPage == "/home" }'>
    		<header ng-class="{ black: currentPage !== '/home' }">
    			<i class="icon ion-ios7-bell" style="float: left; padding-left: 10px; padding-top: 2px;"></i>
    			<small current-time="hourFormat" ng-show="currentPage !== '/lockscreen'"></small>
    			<i class="icon ion-battery-full" style="float: right; padding-right: 10px; padding-top: 2px;"></i>
    		</header>
 	    	<div class="view-animation" ng-view></div>
	    </div>
	    <button id="lock-button" ng-click="lock()"></button>
	    <button id="speak-button" ng-click="speak()"></button>
    </div>
	<button ng-click="nextMenu()">Geser</button>
    <button ng-click="back()">Kembali</button>
    <button ng-click="notification()">Notifikasi</button>
	<script src="public/js/angular.min.js"></script>
	<script src="public/js/angular-route.min.js"></script>
	<script src="public/js/angular-animate.min.js"></script>
	<script src="public/js/underscore-min.js"></script>
    <script src="app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
    <script src="public/js/annyang.min.js"></script>
    <script src="public/js/moment.min.js"></script>

</body>
</html>

